<%- include ./part/header.ejs %>

<div>
	<h1>Welcome back</h1>
	<div class="pics">
		<!-- pics here -->
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/io.js"></script>
<%- include ./part/footer.ejs %>