<%- include ./part/header.ejs %>

<div>
	<h1>Welcome back</h1>
<!-- 	<img src="<%- imageData.images.thumbnail.url %>" alt="new picture"> -->
	<div class="pics">
		<!-- pics here -->
	</div>
</div>

<%- include ./part/footer.ejs %>