<%- include ./part/header.ejs %>

<h1>Welcome back</h1>
<div class="pics">
	<% imageArray.forEach((image) => { %>
		<img src="<%= image %>"/>
	<% }); %>
</div>

<script src="/socket.io/socket.io.js"></script>
<%- include ./part/footer.ejs %>