<%- include ./part/header.ejs %>

  <h1>Welcome <%= userName %></h1>
	<div class="pics">
		<% imageArray.forEach((image) => { %>
			<div class="pic">
				<div>
					<img src="<%= image %>"/>
					<p>100</p>
				</div>
				<div>
					<button>bad</button>
					<button>good</button>
				</div>
			</div>
		<% }); %>
	</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/bundle.js"></script>
<%- include ./part/footer.ejs %>